
<div>
<form action="/artist" method="GET" >
<input id="formulario" type="text" name="search" placeholder="que buscas??"><br>
<input class=" submit nav-item nav-link nav nav-pills mb-3 " type="submit">
</form>

</div>


